= render partial: 'form', locals: {es_un_formulario_de_creacion: true}

= link_to 'Back', parking_lots_path



- content_for 'page_title' do
	%h2 Nuevo Estacionamiento


- content_for 'footer' do
	%p Copyright
